body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(100deg, #07366A, #1B7DE7);
}

.conteiner-main {
    display: grid;


  /* Just for parent demo size */
  height: 100vh;
}

.card-login {
    width: 420px;
    height: 700px;
}

.support-logo {
    width: 100%;
}

.support-logo img {
    display: block;
    margin: 20px auto;
}

.block1 {
    position: absolute;
    border: 1px solid red;
    color: #ffffff;
    background: rgb(0, 0, 0);
    font-size: 20px;
    width: 500px;
    margin: 25px 50px;
}

.block2 {
    position: absolute;
    border: 1px solid red;
    color: #ffffff;
    background: rgb(0, 0, 0);
    font-size: 20px;
    width: 500px;
    margin: 200px 50px;
}

.block3 {
    position: absolute;
    border: 1px solid red;
    color: #ffffff;
    background: rgb(0, 0, 0);
    font-size: 20px;
    width: 500px;
    margin: 400px 50px;
}

.icone {
    position: absolute;
    border: 1px solid red;
    margin: 150px 600px;
}


